.body {
  background-color: #191919;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.backpage {
  width: 100%;
}

.wrapper {
  max-width: 1170px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.light {
  z-index: 2;
  position: absolute;
  width: 3517.44px;
  height: 1951.94px;
  left: -486px;
  top: 4400px;
  background: #E1DECE;
  transform: rotate(-17.11deg);
}

.lighttwo {
  z-index: 2;
  position: absolute;
  width: 3517.44px;
  height: 1451.94px;
  left: -486px;
  top: 9990px;
  background: #E1DECE;
  transform: rotate(-17.11deg);
}

.book {
  z-index: 3;
  position: absolute;
  margin-top: 150px;
  left: 0;
}

.chert {
  position: absolute;
  right: 0;
  z-index: -1;
  margin-top: -300px;
}

.cherttwo {
  position: absolute;
  left: -100px;
  z-index: -1;
  margin-top: -300px;
}

.big {
  font-size: 24px;
}

.cont {
  position: relative;
  z-index: 3;
}

.header {
  font-family: "Roboto", sans-serif;
  height: 67px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header__menu {
  position: relative;
  vertical-align: middle;
  margin: auto;
  width: 609px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__menu-link {
  width: 78px;
  color: #E1DECE;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.header__logo-standart {
  width: 42px;
  height: 42px;
}
.header__logo-big {
  width: 146px;
  height: 146px;
  position: absolute;
  z-index: 10;
  top: 25px;
  left: 15px;
}
.header__brand {
  width: 150px;
  height: 62px;
  margin-left: 187px;
  margin-top: -16px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #E0DEDE, #A1A0A0);
}
.header__brand-one {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.header__brand-two {
  margin-top: -20px;
  font-size: 14px;
  font-weight: 500;
}
.header__number {
  margin-right: 133px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header__number-img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.header__number-phone {
  width: 180px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #E0DEDE, #A1A0A0);
  font-size: 20px;
  font-weight: 500;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.decortext {
  position: absolute;
  z-index: 10;
  font-family: "Roboto", sans-serif;
  font-size: 90px;
  font-weight: 700;
  opacity: 45%;
  width: 452px;
  height: 265px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(135deg, rgba(222, 211, 109, 0.45), rgba(222, 211, 109, 0));
}
.decortext.one {
  transform: translate(30%);
  right: 0;
  margin-top: -20px;
}
.decortext.two {
  transform: translate(-30%);
  left: 0;
  margin-top: -20px;
}

.social {
  margin-left: 15px;
  margin-top: 160px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social__text {
  font-family: "Roboto", sans-serif;
  position: relative;
  vertical-align: middle;
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
  font-size: 14px;
  font-weight: 400;
  color: #E1DECE;
}
.social__img {
  width: 30px;
}
.social__line {
  padding: 25px;
}

.start {
  margin-left: 18px;
  background-image: url("../img/MaskGroup.png");
  width: 100%;
}
.start__text {
  color: #E1DECE;
  text-align: center;
}
.start__text-one {
  margin-top: 185px;
  font-family: "EB Garamond", serif;
  font-size: 50px;
  font-weight: 700;
}
.start__text-two {
  margin-top: 22px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.start__text-btn {
  margin-top: 30px;
  width: 220px;
  height: 62px;
  background-color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 31px;
}
.start__text-btn__link {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #191919;
  text-decoration: none;
}

.ourprojekt {
  margin-top: 80px;
}
.ourprojekt__title {
  font-family: "EB Garamond", serif;
  font-size: 40px;
  font-weight: 700;
  color: #E1DECE;
  text-align: center;
}
.ourprojekt__line {
  margin-top: 20px;
  margin-bottom: 30px;
}
.ourprojekt__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  font-family: "EB Garamond", serif;
  color: #FFFFFF;
}
.ourprojekt__card-item {
  width: 370px;
  height: 451px;
  padding-bottom: 50px;
}
.ourprojekt__card-item__img {
  width: 370px;
  height: 384px;
  border-radius: 5px;
}
.ourprojekt__card-item__text {
  margin-top: 20px;
}
.ourprojekt__card-item__text-one {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.ourprojekt__card-item__text-two {
  margin-top: -10px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.ourprojekt__btn {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ourprojekt__btn-item {
  width: 220px;
  height: 62px;
  border: 2px solid #E1DECE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 75px;
}
.ourprojekt__btn-item__link {
  font-family: "EB Garamond", serif;
  color: #E1DECE;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.about {
  margin-top: 130px;
  width: 1170px;
}
.about__title {
  width: 604px;
  font-family: "EB Garamond", serif;
  font-size: 40px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
}
.about__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about__box-photos {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.about__box-photos__one {
  width: 262;
  height: 608px;
  padding-right: 24px;
}
.about__box-photos__one-line {
  background-color: #191919;
  height: 24px;
  width: 259px;
  position: absolute;
  margin-top: -240px;
  margin-left: 0;
  z-index: 10;
}
.about__box-photos__two {
  width: 262px;
  height: 608px;
}
.about__box-photos__two-line {
  background-color: #191919;
  height: 24px;
  width: 259px;
  position: absolute;
  margin-top: -408px;
  margin-left: 4px;
  z-index: 10;
}
.about__content {
  margin-left: 24px;
  width: 589px;
}
.about__content-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}
.about__content-property {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.about__content-property__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #E1DECE;
  margin-right: 36px;
}
.about__content-property__item__vertical {
  position: relative;
  vertical-align: middle;
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
  font-size: 14px;
  font-weight: 400;
}
.about__content-property__item__num {
  margin-left: -10px;
  font-size: 45px;
  font-weight: 500;
}
.about__content-property__item__text {
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
}
.about__content-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.about__content-btn__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.about__content-btn__pre {
  padding-top: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid #191919;
  border-radius: 40px;
  background-color: #E1DECE;
}
.about__content-btn__nxt {
  margin-left: 14px;
  padding-top: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid #191919;
  border-radius: 40px;
  opacity: 43%;
  background-color: #FFFFFF;
}
.about__content-btn__garant {
  margin-left: 145px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  right: 0;
  padding-right: 40px;
}
.about__content-btn__garant-two {
  margin-left: 48px;
}

.btytext {
  margin-top: 330px;
  margin-left: 800px;
  margin-bottom: 262px;
  width: 506px;
}
.btytext__one {
  font-family: "EB Garamond", serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  color: #191919;
}
.btytext__two {
  margin-top: 358px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #191919;
  line-height: 36px;
}

.conteiner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.card {
  font-family: "EB Garamond", serif;
  width: 270px;
  height: 518px;
  background-color: #191919;
  border: 3px solid #E1DECE;
  border-radius: 20px;
  color: #E1DECE;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.card__img {
  margin-top: 37px;
  margin-bottom: 0;
}
.card__hh {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 60px;
}
.card__hh.two {
  margin-top: -50px;
}
.card__text {
  width: 230px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}

.collection {
  margin-top: 367px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collection__item {
  margin-bottom: 196px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.collection__item-imgsone {
  margin-right: 212px;
}
.collection__item-imgsone__big {
  left: 0;
}
.collection__item-imgsone__lil {
  position: absolute;
  margin-left: -130px;
  margin-top: 256px;
}
.collection__item-imgstwo {
  margin-left: 212px;
}
.collection__item-imgstwo__big {
  left: 0;
}
.collection__item-imgstwo__lil {
  position: absolute;
  margin-left: -130px;
  margin-top: 256px;
}
.collection__item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collection__item-text__one {
  font-family: "Roboto", sans-serif;
  color: #6E6E6E;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.collection__item-text__two {
  padding-top: 18px;
  padding-bottom: 30px;
  font-family: "EB Garamond", serif;
  color: #E1DECE;
  width: 400px;
  font-size: 40px;
  font-weight: 700;
}
.collection__item-text__free {
  width: 416px;
  font-family: "Roboto", sans-serif;
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.info {
  margin-top: 100px;
}
.info.two {
  color: #E1DECE;
}
.info__title {
  margin-bottom: 128px;
  margin-left: 550px;
  font-family: "EB Garamond", serif;
  color: #191919;
  width: 600px;
  font-size: 40px;
  font-weight: 400;
}
.info__title-tb {
  font-weight: 400;
  text-transform: uppercase;
}
.info__text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #191919;
}
.info__text-title {
  width: 370px;
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 36px;
}
.info__text-prone {
  margin-right: 31px;
  width: 370px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.infoprem {
  margin-top: 500px;
}
.infoprem__title {
  margin-bottom: 128px;
  margin-left: 550px;
  font-family: "EB Garamond", serif;
  color: #E1DECE;
  width: 550px;
  font-size: 40px;
  font-weight: 400;
}
.infoprem__title-tb {
  font-weight: 400;
  text-transform: uppercase;
}
.infoprem__text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 105px;
  color: #E1DECE;
}
.infoprem__text-pr {
  color: #6E6E6E;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.infoprem__text-title {
  margin-top: 51px;
  color: #FFFFFF;
  width: 308px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 36px;
}
.infoprem__text-prone {
  margin-top: 50px;
  margin-right: 31px;
  width: 308px;
}

.infospon {
  margin-top: 300px;
}
.infospon__title {
  margin-bottom: 128px;
  margin-left: 600px;
  font-family: "EB Garamond", serif;
  color: #E1DECE;
  width: 620px;
  font-size: 40px;
  font-weight: 400;
}
.infospon__title-tb {
  font-weight: 400;
  text-transform: uppercase;
}

.adress {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.adress__text {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 82px;
  align-items: center;
}
.adress__text-blok {
  width: 218px;
  font-family: "Roboto", sans-serif;
}
.adress__text-blok__title {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
.adress__text-blok__cont {
  color: #E1DECE;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.footer {
  background-color: #1F1F1F;
}
.footer-cont {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: #E1DECE;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding: 41px;
}
.footer__one {
  text-align: start;
}
.footer__two {
  text-align: left;
  text-align: end;
}/*# sourceMappingURL=style.css.map */